<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>贪吃蛇远程控制台</title>
	<style>
		td {
			width:100px;
			height:100px;
			text-align:center;
		}
		td.btn {
			cursor:pointer;
			background-color:yellow;
		}
		td.btn:hover {
			background-color:green;
		}
		#dir {
			width:200px;
		}
	</style>
</head>
<body>
    <hr style="color: black"/>
	<table>
		<tr>
			<td></td>
			<td class="up btn" di="38" id="38">上</td>
			<td></td>
		</tr>
		<tr>
			<td class="left btn" di="37" id="37">左</td>
			<td></td>
			<td class="right btn" di="39" id="39">右</td>
		</tr>
		<tr>
			<td></td>
			<td class="bottom btn" di="40" id="40">下</td>
			<td></td>
		</tr>
	</table>
    <hr style="color: black"/>

	<script src="/static/js/jquery-1.3.2.min.js"></script>
	<script>
	    var ws = null ;
	    var target='ws://' + window.location.host + '/ws/test/www/';
	    if ('WebSocket' in window) {
	        ws = new WebSocket(target);
	    } else if ('MozWebSocket' in window) {
	        ws = new MozWebSocket(target);
	    } else {
	        alert('WebSocket is not supported by this browser.');
	    }

	    ws.onopen = function(obj){
	    } ;

	    ws.onclose = function (obj) {
	    } ;
	    ws.onmessage = function(obj){
	    } ;

	    $('.btn').click(function(){
	    	var di = $(this).attr('di');
	    	ws.send(JSON.stringify({
                'type': 'control',
                'message': {
                    'direction': di
                }
            }));
	    });
	</script>
</body>
</html>