<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>比赛信息</title>
    <link rel="icon" href="/static/images/snake_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/static/css/mystyle.css" rel="stylesheet">
</head>
<body>
{% include "snake/header.html" %}
<div class="container">
    <hr>
    <div class="entry-content" itemprop="text">
        <br>
        <h2>概述</h2>
        <ul>
            <li>比赛目的：
                <ul>
                    <li>提升学生的编程兴趣。</li>
                    <li>提升参赛者的编程能力。</li>
                    <li>促进参赛者的关于代码的交流。</li>
                    <li>编程交友！！！</li>
                </ul>
            </li>
            <li>比赛宗旨：
                <ul>
                    <li>重在交流，快乐参与。</li>
                    <li>神仙在线打架！</li>
                    <li>我编程，我快乐！在线交友，性感写码！</li>
                </ul>
            </li>
            <li>比赛详情：
                <ul>
                    <li>每季度举行一次。</li>
                    <li>每次有一星期报名时间，40天准备时间，一星期比赛时间。</li>
                    <li>比赛本着公平公正，神仙写代码的风格。</li>
                </ul>
            </li>
        </ul>
        <hr>
        <br>
        <h2>流程</h2>
        <ul>
            <li>每次比赛前我们的团队会进行宣传。</li>
            <li>感兴趣的神仙可以联系我们并报名。</li>
            <li>我们会负责向你们介绍如何准备和练习本次比赛。</li>
            <li>准备过程中玩家可以相互讨论，分享经验。</li>
            <li>当比赛结束后会有一些小奖品。</li>
        </ul>
        <hr>
        <br>
        <h2>细节</h2>
        <ul>
            <li>严禁作弊。</li>
            <li>严禁修改非指定区域的代码。</li>
            <li>比赛前和过程中可以讨论。</li>
            <li>严禁干扰他人比赛和服务器。</li>
        </ul>
        <hr>
        <br>
        <h2>最后</h2>
        <ul>
            <li>本比赛的门槛非常低，但又可深入的特点。</li>
            <li>对本比赛有兴趣的希望勇敢积极参与。</li>
            <li>希望在比赛中能够“重在交流，快乐参与，神仙在线打架！我编程，我快乐！在线交友，性感写码！”</li>
            <li>希望让你们的编程提起兴趣，快乐的学习编程，快乐的提升自己。</li>
        </ul>
    </div>
    <br>
</div>
{% include "public/footer.html" %}
</body>
</html>