<!DOCTYPE html>
<HTML>
<HEAD>
    <!-- 描述网页的属性，比如字符编码，引用哪些外部资源-->
    <TITLE>贪吃蛇</TITLE>
    <META CHARSET="utf-8"/>
    <link rel="icon" href="/static/images/snake_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/static/css/mystyle.css" rel="stylesheet">
</HEAD>
<BODY>
{% include "snake/header.html" %}
<div class="container" style="background-color: #fff;">
    <br/>
    <div class="input-group">
        <button type="button" class="btn btn-outline-primary" id="restartBtn">重新开始</button>
        &nbsp;
        <div class="input-group-prepend" style="border: 1px solid #FFA000;">
            <span class="input-group-text " style="background-color: #fff; color: #FFA000;">AI请求地址:</span>
        </div>
        <input type="text" class="form-control" id="target_address" value="http://127.0.0.1:5000/snake-ai/" style="border: 1px solid #FFA000;">
        &nbsp;
        <button type="button" class="btn btn-outline-success" id="ai-start">AI-start</button>
    </div>

    <hr/>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-8" style="text-align: center;">
                    <span id="game_score" style="background-color: #fff; color: #FFA000;font-size: large;">游戏得分： 1</span>
                </div>
                <div class="col-4" style="text-align: center;">
                    <span style="background-color: #fff; color: #FFA000;font-size: large;">AI决策</span>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div id="snake_space"></div>
        </div>
        <div class="col-4" style="border: 2px solid #FFA000;">
            <textarea id='ai_decision' style="border:0;border-radius:5px;background-color:rgba(241,241,241,.98);width: 100%;height: 100%;padding: 10px;resize: none;"></textarea>
        </div>
    </div>
</div>
<br>
</div>
{% include "public/footer.html" %}

<!-- Bootstrap  JS-->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</BODY>
<script src="/static/js/snake_logic.js"></script>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script>
    var target_address = null;
    var send_time;
    var rec_time;

    document.querySelector('#restartBtn').onclick = function (e) {
        location.reload();
    }

    document.querySelector('#ai-start').onclick = function (e) {
        target_address = $('#target_address').val();
        alert(target_address);
        var d = new Date();
        send_time = d.getTime();
        ws.send(JSON.stringify({
            'type': 'map_data',
            'message': {
                'body': JSON.parse(JSON.stringify(snake.body)),
                'food': JSON.parse(JSON.stringify(snake.food)),
                'direction': JSON.stringify(0),
                'target_address': target_address,
                'map_size': {
                    'width': xGridSize,
                    'height': yGridSize,
                },
            }
        }));
    }

    var ws = null;

    // test: 用于测试    www: 代表房间名
    var target = 'ws://' + window.location.host + '/ws/test/www/';
    // var target = 'ws://' + "47.100.83.146:8001" + '/ws/test/www/';
    if ('WebSocket' in window) {
        ws = new WebSocket(target);
    } else if ('MozWebSocket' in window) {
        ws = new MozWebSocket(target);
    } else {
        alert('WebSocket is not supported by this browser.');
    }

    ws.onopen = function (obj) {

    };

    ws.onclose = function (obj) {

    };
    ws.onmessage = function (e) {
        var data = JSON.parse(e.data);
        var type = data['type'];
        if (type == 'control') {
            var keyCode = data['message']['direction'] - 0;
            var d = new Date();
            rec_time = d.getTime();
            var diff = rec_time - send_time;
            showDecision(keyCode, diff);
            if (keyCode < 37 || keyCode > 40) {
                return;
            }
            if (snake.keyCode) {
                if (snake.isValidDir(keyCode)) {
                    snake.keyCode = keyCode;
                }
            } else {
                snake.keyCode = keyCode;
                timer = setInterval(function () {
                    snake.move();
                    var d = new Date();
                    send_time = d.getTime();
                    ws.send(JSON.stringify({
                        'type': 'map_data',
                        'message': {
                            'body': JSON.parse(JSON.stringify(snake.body)),
                            'food': JSON.parse(JSON.stringify(snake.food)),
                            'direction': JSON.stringify(snake.keyCode - 0),
                            'target_address': target_address,
                            'map_size': {
                                'width': xGridSize,
                                'height': yGridSize,
                            },
                        }
                    }));
                }, speed);
                snake.showFood();
            }
        } else if (type == 'delayed_test_result') {
            alert('延时: ' + data['message']['delayed']);
        }
    };

    function showDecision(msg, diff){
        var parse = {
            37: '左',
            38: '上',
            40: '下',
		    39: '右'
        }
        document.querySelector('#ai_decision').value += ('AI决策结果: '+parse[msg] + '  所用时间: '+diff + 'ms' + '\n');
    }
</script>
</HTML>